# ==========================================================
# Django
# ==========================================================

# Generate a secure random key before the first startup.
SECRET_KEY="change-this-to-a-random-secret-key"

# Comma-separated list of allowed hosts.
ALLOWED_HOSTS=localhost,127.0.0.1,192.168.1.11

# Internal Django ASGI server.
AS_HOST=localhost
# Local ASGI server port (Nginx will proxy to this port)
AS_PORT=8001

# Required only when accessing the application over HTTPS.
# Example:
CSRF_TRUSTED_ORIGINS=https://192.168.1.11:81


# Enable only for development.
DEBUG=False

# If True, Django serves uploaded media files.
# Set to False when using Nginx or another reverse proxy.
SERVE_MEDIA=False

# Optional custom media directory.
# must match nginx conf or another reverse proxy for this webapp
# MEDIA_PATH=/path/to/media

# ==========================================================
# PostgreSQL
# ==========================================================

DB_NAME=analizzascontrini_db
DB_USER=analizzascontrini_user
DB_PASSWORD="change-this-password"
DB_HOST=localhost
DB_PORT=5432

# ==========================================================
# Ollama
# ==========================================================
# Ollama server (local or remote)
OLLAMA_HOST=http://192.168.1.50:11434

# If Ollama runs on another machine, it must listen on
# all network interfaces:
# OLLAMA_HOST=0.0.0.0 ollama serve

# ==========================================================
# Redis
# ==========================================================
REDIS_URL=redis://localhost:6379/0
